<!DOCTYPE html>
<html>
  <head>
    <title>DemoActioncable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- START: Main Nav -->
    <nav>
      <div class="nav-wrapper">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%= link_to root_path, class: "brand-logo left" do %>
            Chatroom
          <% end %>
        </div>

        <!-- START: Desktop Nav -->
        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end <%>
        </ul>
        <!-- END: Deskop Nav -->

      </div><!-- /.container-fluid -->
    </nav>
    <!-- END: Main Nav -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
